openapi: 3.0.3
info:
  title: Paysecure CRYPTO-BRIDGE API
  version: 1.0.0

servers:
  - url: https://api.paysecure.net
  - url: https://staging.paysecure.net
  - url: https://app.paysecure.net

paths:
  /api/v1/purchases:
    post:
      tags: [CRYPTO-BRIDGE]
      summary: Initiate a new purchase via CRYPTO-BRIDGE
      description: |
        ```bash
        curl --location 'https://api.paysecure.net/api/v1/purchases' \
        --header 'Content-Type: application/json' \
        --header 'Authorization: Bearer Token' \
        --data-raw '{
            "client": {
                "email": "gaurav@gmail.com",
                "full_name": "Gaurav Test",
                "country": "US",
                "city": "123",
                "stateCode": "NYC",
                "street_address": "test test",
                "zip_code": "234567",
                "phone": "9999999999"
            },
            "purchase": {
                "currency": "USD",
                "products": [
                    {
                        "name": "product name",
                        "price": 5.86
                    }
                ]
            },
            "paymentMethod": "CRYPTO-BRIDGE",
            "brand_id": "cec67fe3-a01d-4d0d-b100-9fafb200fe15",
            "success_redirect": "https://your.success.redirect.com",
            "pending_redirect": "https://your.pending.redirect.com",
            "failure_redirect": "https://your.failure.redirect.com",
            "success_callback": "https://your.success.callback.com",
            "failure_callback": "https://your.failure.callback.com",
            "extraParam": {
                "clientFee": 0.1, //optional
                "toAddress": [
                    {
                        "symbol": "ETH",
                        "networkName": "ETHEREUM",
                        "address": "0xc4db7bBB898B98D15be823454d1dff6C308BC9A4"
                    },
                    {
                        "symbol": "USDC",
                        "networkName": "POLYGON",
                        "address": "0xc4cs7bBB898B89D15be823445d1dff6C380BC9D3"
                    }
                ]
            }
        }'
        ```
      parameters:
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            example: Bearer Token

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - client
                - purchase
                - paymentMethod
                - brand_id
                - success_redirect
                - failure_redirect
                - success_callback
                - failure_callback
              properties:
                client:
                  description: Customer billing info
                  type: object
                  required:
                    - email
                    - full_name
                    - country
                    - city
                    - stateCode
                    - street_address
                    - zip_code
                  properties:
                    email:
                      type: string
                      format: email
                      example: gaurav@gmail.com
                    full_name:
                      type: string
                      example: Gaurav Test
                    phone:
                      type: string
                      example: "9999999999"
                    country:
                      type: string
                      example: US
                    city:
                      type: string
                      example: 123
                    stateCode:
                      type: string
                      example: NYC
                    street_address:
                      type: string
                      example: test test
                    zip_code:
                      type: string
                      example: "234567"

                purchase:
                  type: object
                  required:
                    - currency
                    - products
                  properties:
                    currency:
                      description: The fiat currency for the order (e.g., USD, EUR). You will be paid in crypto but this defines how much the customer will pay
                      type: string
                      example: USD
                    products:
                      description: One or more items being sold, with name and price
                      type: array
                      items:
                        type: object
                        required:
                          - name
                          - price
                        properties:
                          name:
                            type: string
                            example: product name
                          price:
                            type: number
                            format: float
                            example: 5.86

                paymentMethod:
                  description: Always use "CRYPTO-BRIDGE" to trigger this payment method
                  type: string
                  example: CRYPTO-BRIDGE

                brand_id:
                  type: string
                  format: uuid
                  example: cec67fe3-a01d-4d0d-b100-9fafb200fe15

                success_redirect:
                  description: Where the user should land after completing or canceling the payment or if the transaction is in pending state.
                  type: string
                  format: uri
                  example: https://your.success.redirect.com

                pending_redirect:
                  description: Where the user should land after completing or canceling the payment or if the transaction is in pending state.
                  type: string
                  format: uri
                  example: https://your.pending.redirect.com

                failure_redirect:
                  description: Where the user should land after completing or canceling the payment or if the transaction is in pending state.
                  type: string
                  format: uri
                  example: https://your.failure.redirect.com

                success_callback:
                  description: Your backend URL to receive transaction status via webhook.
                  type: string
                  format: uri
                  example: https://your.success.callback.com

                failure_callback:
                  description: Your backend URL to receive transaction status via webhook.
                  type: string
                  format: uri
                  example: https://your.failure.callback.com

                extraParam:
                  type: object
                  properties:
                    clientFee:
                      description: "Optional: A custom fee you (the merchant) want to charge — shown to the user at checkout"
                      type: number
                      example: 0.1
                    toAddress:
                      description: >
                        Optional.
                        Merchant can provide the list of wallet addresses, where they want to collect the deposit from the user. Can pass multiple addresses.
                      type: array
                      items:
                        type: object
                        properties:
                          symbol:
                            description: |
                              The symbol of the digital asset.
                              Example: ETH, USDC etc.

                              Possible Values:
                              AAVE, ADA, APE, APT, ARB, AVAX, BLAST, BLUR, BNB, BTC, BUSD, CAKE, CASH, CRO, DAI, DEXE, DEVNETSOL, DOGE, ENA, ETH, EURC, FARTCOIN, FDUSD, FORM, FTM, GRT, HYPE, IMX, INJ, LDO, LEO, LINK, LTC, MANA, MATIC, MKR, MNT, MON, OP, PAXG, PENGU, POL, PYUSD, QNT, RLUSD, RNDR, S, SAND, SEPOLIAETH, SHIB, SNX, SOL, SUI, TON, TRUMP, TRX, TUSD, UNI, USD1, USD₮0, USDC, USDD, USDG, USDH, USDP, USDT, VIRTUAL, WAVAX, WBNB, WBTC, WETH, WHYPE, WIF, WMATIC, WMON, XLM, XRP
                            type: string
                            example: ETH
                          networkName:
                            description: |
                              The network of the token.
                              Example: ETHEREUM, POLYGON etc.

                              Possible values:
                              ETHEREUM, POLYGON, BSC, ARBITRUM, OPTIMISM, BASE, AVALANCHEC, BLAST, HYPEREVM, SOLANA, BITCOIN, TRON, LITECOIN, DOGECOIN, RIPPLE, APTOS, CARDANO, STELLAR, SUI, TON, SONIC, INJECTIVE, AVALANCHEX
                            type: string
                            example: ETHEREUM
                          address:
                            description: The address to send the asset to.
                            type: string
                            example: 0xc4db7bBB898B98D15be823454d1dff6C308BC9A4

      responses:
        "200":
          description: Purchase Created Successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  purchaseId:
                    type: string
                    example: 6874ce9402f0f25ed8fc66a7

                  status:
                    type: string
                    example: PAYMENT_IN_PROCESS

                  paymentMethod:
                    type: string
                    example: CRYPTO-BRIDGE

                  amountUnit:
                    type: string
                    example: MAJOR

                  created_on:
                    type: integer
                    example: 1752485524

                  updated_on:
                    type: integer
                    example: 1752485524

                  brand_id:
                    type: string

                  checkout_url:
                    type: string
                    example: https://api.choicepay.ca/payments/6874ce9402f0f25ed8fc66a7/

                  client:
                    type: object
                    properties:
                      email:
                        type: string
                      full_name:
                        type: string
                      phone:
                        type: string
                      country:
                        type: string
                      city:
                        type: string
                      stateCode:
                        type: string
                      street_address:
                        type: string
                      zip_code:
                        type: string

                  purchase:
                    type: object
                    properties:
                      currency:
                        type: string
                      total:
                        type: number
                      products:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            quantity:
                              type: integer
                            price:
                              type: number

                  payment:
                    type: object
                    properties:
                      amount:
                        type: number
                      currency:
                        type: string
                      net_amount:
                        type: number
                      paid_on:
                        type: integer

                  transaction_data:
                    type: object
                    properties:
                      flow:
                        type: string
                        example: payform
                      extra:
                        type: object
                        properties:
                          amount:
                            type: number
                          masked_pan:
                            type: string

                  status_history:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        timestamp:
                          type: integer

        "401":
          description: Authorization Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Invalid Authorization
                  code:
                    type: string
                    example: Invalid_Authorization
